.App {
  text-align: center;
}

.App-jobs {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  width: 615px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  background: #fff;
  -webkit-box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 2rem;
  margin-top: 16px;
}

.loading-ind {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}
.loading-ind>.loading-ind-title {
  color: #444;
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 0.75em;
}
.loading-ind>.loading-ind-subtitle {
  color: #222;
  font-size: 1.25em;
}
